@use 'tags-admin-shared';

.tags-admin-header-section .tags-admin-header-content {
  justify-content: flex-start;
}

.selected-icon-content,
.selected-emoji {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
