.form-and-media-wrapper {
  display: block;
  gap: 2rem;
  padding: 24px;
}

.section-subtitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  color: #424242;
  margin-bottom: 1.5rem;

  mat-icon {
    color: #757575;
  }
}

.form-row {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-field {
  flex: 1;

  textarea {
    min-height: 100px;
  }
}

