<mat-toolbar class="main-toolbar">
  <button (click)="navigateToRoot()" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>{{ 'APP.TITLE' | translate }}</span>

  <span class="spacer"></span>
  <div class="search-container">
    <div class="search-field">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}"
          [(ngModel)]="searchQuery"
          (input)="onSearchChange()"
          autocomplete="off" />
      </mat-form-field>
    </div>

    <div class="search-dropdown" *ngIf="showResults">
      <mat-list>
        <mat-list-item *ngFor="let category of searchResults.categories" (click)="goToCategory(category)">
          <div matLine>{{ category.name }}</div>
        </mat-list-item>
        <mat-list-item *ngFor="let product of searchResults.products" (click)="goToProduct(product)">
          <div matLine>{{ product.name }}</div>
        </mat-list-item>
        <mat-list-item *ngFor="let mixture of searchResults.mixtures" (click)="goToMixture(mixture)">
          <div matLine>{{ mixture.name }}</div>
        </mat-list-item>
        <mat-list-item *ngFor="let tag of searchResults.tags" (click)="goToTag(tag)">
          <div matLine>{{ tag.name }}</div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>


  <mat-menu #langMenu="matMenu">
    <button (click)="changeLanguage(lang.code)" *ngFor="let lang of languages" mat-menu-item>
      <mat-icon svgIcon="{{ lang.icon }}"></mat-icon>
      <span>{{ lang.name }}</span>
    </button>
  </mat-menu>
  <button [matMenuTriggerFor]="langMenu" mat-button>
    <mat-icon svgIcon="{{ selectedLanguage.icon }}"></mat-icon>
    <span>{{ selectedLanguage.name }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>



  <button mat-icon-button
          [matMenuTriggerFor]="cartMenu"
          [matBadge]="totalCartItemCount$ | async"
          matBadgeColor="accent"
          matBadgePosition="above after"
          [matBadgeHidden]="(totalCartItemCount$ | async) === 0">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <mat-menu #cartMenu="matMenu" class="cart-dropdown">
    <ng-container *ngIf="cartItemsWithProducts?.length > 0; else emptyCart">
      <div class="cart-preview">
        <h4>{{ 'CART.SUMMARY' | translate }}</h4>
        <div class="cart-item" *ngFor="let item of cartItemsWithProducts" (click)="goToProduct(item.product)">
          <ng-container *ngIf="item.product">
            <img *ngIf="item.product.responseMediaDTOs?.[0]"
                 [src]="'data:' + item.product.responseMediaDTOs[0].contentType + ';base64,' + item.product.responseMediaDTOs[0].base64Data"
                 [alt]="item.product.name"
                 class="item-image"
                 width="60"
                 height="60" />
            <div class="item-info">
              <span class="item-name">{{ item.product.name }}</span>
              <span class="item-quantity-bubble" *ngIf="item.quantity > 1">{{ item.quantity }}</span>
            </div>
            <span class="item-price">{{ item.product.price | currency:'USD':'symbol':'1.2-2' }}</span>
          </ng-container>
        </div>
        <div class="cart-footer">
          <div class="cart-total">{{ 'CART.TOTAL' | translate }}: {{ cart?.totalPrice | currency:'USD':'symbol':'1.2-2' }}</div>
          <button mat-flat-button color="primary" (click)="goToCart()">{{ 'CART.VIEW_CART' | translate }}</button>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyCart>
      <div class="empty-cart">
        {{ 'CART.EMPTY' | translate }}
      </div>
    </ng-template>
  </mat-menu>


  <div class="user-menu">
    <mat-menu #userMenu="matMenu">
      <div *ngIf="(authService.isAuthenticated$ | async) && authService.hasRole('user_admin')">
        <button (click)="navigateToAdminCategories()" mat-menu-item>
          <mat-icon>category</mat-icon>
          <span>{{ 'MENU.ADMIN.CATEGORIES' | translate }}</span>
        </button>
        <button (click)="navigateToAdminProducts()" mat-menu-item>
          <mat-icon>inventory</mat-icon>
          <span>{{ 'MENU.ADMIN.PRODUCTS' | translate }}</span>
        </button>
        <button (click)="navigateToAdminMixtures()" mat-menu-item>
          <mat-icon>science</mat-icon>
          <span>{{ 'MENU.ADMIN.MIXTURES' | translate }}</span>
        </button>
        <button (click)="navigateToAdminTags()" mat-menu-item>
          <mat-icon>label</mat-icon>
          <span>{{ 'MENU.ADMIN.TAGS' | translate }}</span>
        </button>
        <button (click)="navigateToAdminCustomers()" mat-menu-item>
          <mat-icon>people</mat-icon>
          <span>{{ 'MENU.ADMIN.CUSTOMERS' | translate }}</span>
        </button>
        <button (click)="navigateToAdminOrders()" mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span>{{ 'MENU.ADMIN.ORDERS' | translate }}</span>
        </button>
      </div>

      <div *ngIf="(authService.isAuthenticated$ | async) && authService.hasRole('user_client')">
        <button (click)="navigateToProfile()" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>{{ 'MENU.CLIENT.PROFILE' | translate }}</span>
        </button>
      </div>

      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>{{ 'MENU.LOGOUT' | translate }}</span>
      </button>
    </mat-menu>

    <button *ngIf="authService.isAuthenticated$ | async; else loginBtn"
            [matMenuTriggerFor]="userMenu"
            mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <ng-template #loginBtn>
      <button (click)="onUserIconClick()" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
<app-auth-popup (closePopup)="closeAuthPopup()" *ngIf="isPopupOpen"></app-auth-popup>
