<div class="products-container">
  <h1>{{ 'PRODUCTS.TITLE' | translate }}</h1>

  <div *ngIf="isLoading" class="loading-section">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="loading-text">{{ 'PRODUCTS.LOADING' | translate }}</div>
  </div>

  <div *ngIf="error" class="error-section">
    <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
    <div class="error-text">{{ error }}</div>
    <button (click)="navigateHome()" color="warn" mat-stroked-button>
      <mat-icon>arrow_back</mat-icon>
      Back to the main page
    </button>
  </div>

  <div class="products-grid">
    <div (click)="goToProduct(product)"
         *ngFor="let product of products; let productIndex = index; trackBy: trackById"
         class="product-card">

      <ng-container *ngIf="product.media?.length; else noMedia">
        <div class="product-image-container">
          <img *ngIf="product.media[activeSlideIndices[productIndex]]?.contentType?.startsWith('image/')"
               [alt]="product.name"
               [src]="'data:' + product.media[activeSlideIndices[productIndex]].contentType + ';base64,' + product.media[activeSlideIndices[productIndex]].base64Data"
               class="product-image"/>
          <video *ngIf="product.media[activeSlideIndices[productIndex]]?.contentType?.startsWith('video/')"
                 [attr.muted]="true"
                 [muted]="true"
                 autoplay
                 class="product-image"
                 loop
                 playsinline
                 preload="metadata">
            <source
              [src]="'data:' + product.media[activeSlideIndices[productIndex]].contentType + ';base64,' + product.media[activeSlideIndices[productIndex]].base64Data"
              [type]="product.media[activeSlideIndices[productIndex]].contentType"/>
          </video>
          <div *ngIf="product.media?.length > 1" class="carousel-dots">
            <button (click)="$event.stopPropagation(); setActiveSlide(productIndex, i)"
                    *ngFor="let media of product.media; let i = index; trackBy: trackByObjectKey"
                    [class.active]="activeSlideIndices[productIndex] === i"
                    class="dot">
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #noMedia>
        <div class="no-media">{{ 'PRODUCTS.NO_MEDIA' | translate }}</div>
      </ng-template>

      <div class="product-details">
        <h2 class="product-name">{{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>

        <div *ngIf="product.responseTagDTOS?.length" class="card-tags">
          <div class="tags-container">
            <span *ngFor="let tag of product.responseTagDTOS" class="tag">
              {{ tag.name }}
            </span>
          </div>
        </div>
      </div>

      <div class="product-bottom">
        <span class="product-price">{{ product.price | currency:'USD' }}</span>
        <button (click)="$event.stopPropagation(); addToCart(product)" class="btn-add" color="primary"
                mat-raised-button>
          {{ 'PRODUCTS.ADD_TO_CART' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
