<div *ngIf="loading" class="loading">Loading product details...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="product" class="product-detail">
  <h2>{{ product.name }}</h2>
<!--  <p class="price">Price: {{ product.price | currency }}</p>-->
  <p *ngIf="product.description">{{ product.description }}</p>

  <div *ngIf="product.media?.length" class="images">
    <img
      *ngFor="let media of product.media"
      ngSrc="'data:' + media.contentType + ';base64,' + media.base64Data"
      [alt]="product.name"
      class="product-image"
    />
  </div>

  <ul class="details-list">
    <li *ngIf="product.categoryId">Category ID: {{ product.categoryId }}</li>
    <li *ngIf="product.weightGrams">Weight: {{ product.weightGrams }} g</li>
  </ul>

  <div *ngIf="product.responseTagDTOS?.length" class="tags">
    <h4>Tags</h4>
    <span *ngFor="let tag of product.responseTagDTOS" class="tag" [style.background-color]="'#ccc'">
      {{ tag.name }}
    </span>
  </div>

  <button (click)="backToList()">Back to Products</button>
</div>
