<div class="customer-container">
  <mat-card class="customer-card">
    <mat-card-header>
      <mat-card-title class="customer-title">
        <mat-icon class="title-icon">person_pin_circle</mat-icon>
        {{ 'CUSTOMER.TITLE' | translate }}
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <form (ngSubmit)="onSave()" [formGroup]="customerForm" class="form-grid">
        <div class="form-section">
          <h3 class="section-subtitle">
            <mat-icon>badge</mat-icon>
            {{ 'CUSTOMER.BASIC_INFO' | translate }}
          </h3>
          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ 'CUSTOMER.FIRST_NAME' | translate }}</mat-label>
              <input [placeholder]="'CUSTOMER.ENTER_FIRST_NAME' | translate" formControlName="firstName" matInput>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="customerForm.get('firstName')?.hasError('required')">
                {{ 'USER_REGISTRATION.FIRST_NAME_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ 'CUSTOMER.LAST_NAME' | translate }}</mat-label>
              <input [placeholder]="'CUSTOMER.ENTER_LAST_NAME' | translate" formControlName="lastName" matInput>
              <mat-icon matSuffix>people</mat-icon>
              <mat-error *ngIf="customerForm.get('lastName')?.hasError('required')">
                {{ 'USER_REGISTRATION.LAST_NAME_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-section" formGroupName="address">
          <h3 class="section-subtitle">
            <mat-icon>location_on</mat-icon>
            {{ 'CUSTOMER.SHIPPING_ADDRESS' | translate }}
          </h3>
          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ 'CUSTOMER.PHONE' | translate }}</mat-label>
              <input [placeholder]="'CUSTOMER.ENTER_PHONE' | translate" formControlName="phone" matInput>
              <mat-error *ngIf="customerForm.get('billingAddress.phone')?.hasError('pattern')">
                {{ 'CUSTOMER.PHONE_INVALID' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ 'CUSTOMER.STREET' | translate }}</mat-label>
              <input [placeholder]="'CUSTOMER.ENTER_STREET' | translate" formControlName="street" matInput>
              <mat-icon matSuffix>home</mat-icon>
              <mat-error *ngIf="customerForm.get('address.street')?.hasError('required')">
                {{ 'CUSTOMER.STREET_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ 'CUSTOMER.HOUSE_NUMBER' | translate }}</mat-label>
              <input [placeholder]="'CUSTOMER.ENTER_HOUSE_NUMBER' | translate" formControlName="houseNumber" matInput>
              <mat-icon matSuffix>numbers</mat-icon>
              <mat-error *ngIf="customerForm.get('address.houseNumber')?.hasError('required')">
                {{ 'CUSTOMER.HOUSE_NUMBER_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ 'CUSTOMER.CITY' | translate }}</mat-label>
              <input [placeholder]="'CUSTOMER.ENTER_CITY' | translate" formControlName="city" matInput>
              <mat-icon matSuffix>location_city</mat-icon>
              <mat-error *ngIf="customerForm.get('address.city')?.hasError('required')">
                {{ 'CUSTOMER.CITY_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ 'CUSTOMER.ZIP_CODE' | translate }}</mat-label>
              <input [placeholder]="'CUSTOMER.ENTER_ZIP_CODE' | translate" formControlName="zipCode" matInput>
              <mat-icon matSuffix>pin</mat-icon>
              <mat-error *ngIf="customerForm.get('address.zipCode')?.hasError('required')">
                {{ 'CUSTOMER.ZIP_CODE_REQUIRED' | translate }}
              </mat-error>
              <mat-error *ngIf="customerForm.get('address.zipCode')?.hasError('pattern')">
                {{ 'CUSTOMER.ZIP_CODE_NUMBERS_ONLY' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ 'CUSTOMER.COUNTRY' | translate }}</mat-label>
              <mat-select formControlName="country">
                <mat-option value="Switzerland">
                  <mat-icon class="flag-icon" svgIcon="flag_ch"></mat-icon>
                  Switzerland
                </mat-option>
              </mat-select>
              <mat-error *ngIf="customerForm.get('address.country')?.hasError('required')">
                {{ 'CUSTOMER.COUNTRY_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-section">
          <mat-checkbox formControlName="sameBillingAddress">
            {{ 'CUSTOMER.SAME_BILLING_ADDRESS' | translate }}
          </mat-checkbox>
        </div>

        <div *ngIf="showBillingAddress" @slideDown class="billing-address-section">
          <h3 class="section-subtitle">
            <mat-icon>business</mat-icon>
            {{ 'CUSTOMER.BILLING_ADDRESS' | translate }}
          </h3>

          <div class="form-grid" formGroupName="billingAddress">
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.FIRST_NAME' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_FIRST_NAME' | translate" formControlName="firstName" matInput>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.LAST_NAME' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_LAST_NAME' | translate" formControlName="lastName" matInput>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.PHONE' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_PHONE' | translate" formControlName="phone" matInput>
                <mat-error *ngIf="customerForm.get('billingAddress.phone')?.hasError('pattern')">
                  {{ 'CUSTOMER.PHONE_INVALID' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.COMPANY_NAME' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_COMPANY_NAME' | translate" formControlName="companyName" matInput>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.TAX_ID' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_TAX_ID' | translate" formControlName="taxId" matInput>
                <mat-error *ngIf="customerForm.get('billingAddress.taxId')?.hasError('pattern')">
                  {{ 'CUSTOMER.TAX_ID_INVALID' | translate }}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.STREET' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_STREET' | translate" formControlName="street" matInput>
                <mat-error *ngIf="customerForm.get('billingAddress.street')?.hasError('required')">
                  {{ 'CUSTOMER.STREET_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.HOUSE_NUMBER' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_HOUSE_NUMBER' | translate" formControlName="houseNumber" matInput>
                <mat-error *ngIf="customerForm.get('billingAddress.houseNumber')?.hasError('required')">
                  {{ 'CUSTOMER.HOUSE_NUMBER_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.CITY' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_CITY' | translate" formControlName="city" matInput>
                <mat-error *ngIf="customerForm.get('billingAddress.city')?.hasError('required')">
                  {{ 'CUSTOMER.CITY_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.ZIP_CODE' | translate }}</mat-label>
                <input [placeholder]="'CUSTOMER.ENTER_ZIP_CODE' | translate" formControlName="zipCode" matInput>
                <mat-error *ngIf="customerForm.get('billingAddress.zipCode')?.hasError('required')">
                  {{ 'CUSTOMER.ZIP_CODE_REQUIRED' | translate }}
                </mat-error>
                <mat-error *ngIf="customerForm.get('billingAddress.zipCode')?.hasError('pattern')">
                  {{ 'CUSTOMER.ZIP_CODE_NUMBERS_ONLY' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.COUNTRY' | translate }}</mat-label>
                <mat-select formControlName="country">
                  <mat-option value="Switzerland">
                    <mat-icon class="flag-icon" svgIcon="flag_ch"></mat-icon>
                    Switzerland
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="customerForm.get('address.country')?.hasError('required')">
                  {{ 'CUSTOMER.COUNTRY_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="actions">
          <button [disabled]="saving || customerForm.invalid" color="primary" mat-flat-button type="submit">
            <mat-icon>save</mat-icon>
            {{ saving ? ('COMMON.SAVING' | translate) : ('COMMON.SAVE' | translate) }}
          </button>
          <mat-progress-bar *ngIf="saving" class="save-progress" mode="indeterminate"></mat-progress-bar>
        </div>
      </form>

      <form #passwordFormDirective="ngForm" (ngSubmit)="onChangePassword(passwordFormDirective)" [formGroup]="passwordForm"
            class="form-grid">
        <div class="password-container">
          <div formGroupName="passwordChange">
            <h3 class="section-subtitle">
              <mat-icon>lock</mat-icon>
              {{ 'CUSTOMER.CHANGE_PASSWORD' | translate }}
            </h3>
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.CURRENT_PASSWORD' | translate }}</mat-label>
                <input formControlName="currentPassword" matInput type="password">
                <mat-icon matSuffix>lock_outline</mat-icon>
                <mat-error *ngIf="passwordForm.get('passwordChange.currentPassword')?.hasError('required')">
                  {{ 'CUSTOMER.CURRENT_PASSWORD_REQUIRED' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.NEW_PASSWORD' | translate }}</mat-label>
                <input formControlName="newPassword" matInput type="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="passwordForm.get('passwordChange.newPassword')?.hasError('required')">
                  {{ 'USER_REGISTRATION.PASSWORD_REQUIRED' | translate }}
                </mat-error>
                <mat-error *ngIf="passwordForm.get('passwordChange.newPassword')?.hasError('minlength')">
                  {{ 'USER_REGISTRATION.PASSWORD_MINLENGTH' | translate }}
                </mat-error>
                <mat-error *ngIf="passwordForm.get('passwordChange.newPassword')?.hasError('pattern')">
                  {{ 'USER_REGISTRATION.PASSWORD_PATTERN' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>{{ 'CUSTOMER.CONFIRM_NEW_PASSWORD' | translate }}</mat-label>
                <input formControlName="confirmNewPassword" matInput type="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="passwordForm.get('passwordChange.confirmNewPassword')?.hasError('required')">
                  {{ 'USER_REGISTRATION.PASSWORD_REQUIRED' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="passwordForm.get('passwordChange')?.hasError('mismatch') && (passwordForm.get('passwordChange.confirmNewPassword')?.dirty || passwordForm.get('passwordChange.confirmNewPassword')?.dirty)">
                  {{ 'USER_REGISTRATION.PASSWORDS_MISMATCH' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="actions">
              <button [disabled]="passwordForm.get('passwordChange')?.invalid || savingPassword" color="accent" mat-flat-button
                      type="submit">
                <mat-icon>lock_open</mat-icon>
                {{ savingPassword ? ('COMMON.SAVING' | translate) : ('COMMON.CHANGE_PASSWORD' | translate) }}
              </button>
              <mat-progress-bar *ngIf="savingPassword" class="save-progress" mode="indeterminate"></mat-progress-bar>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
