<div class="products-container">
  <h1>{{ 'PRODUCTS.TITLE' | translate }}</h1>

  <div *ngIf="isLoading" class="loading-section">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="loading-text">{{ 'PRODUCTS.LOADING' | translate }}</div>
  </div>

  <div *ngIf="error" class="error-section">
    <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
    <div class="error-text">{{ error }}</div>
    <button (click)="navigateHome()" color="warn" mat-stroked-button>
      <mat-icon>arrow_back</mat-icon>
      {{ 'COMMON.BACK_TO_HOME' | translate }}
    </button>
  </div>

  <div class="products-grid">
    <div (click)="goToProduct(product)"
         *ngFor="let product of products; let productIndex = index; trackBy: trackById"
         class="product-card">

      <ng-container *ngIf="product.media?.length; else noMedia">
        <div class="product-image-container">
          <!-- Carousel Slides -->
          <div class="carousel-slides"
               [style.transform]="'translateX(' + (-activeSlideIndices[productIndex] * 100) + '%)'">
            <div *ngFor="let media of product.media; let i = index" class="slide">
              <img *ngIf="media.contentType?.startsWith('image/')"
                   [alt]="product.translatedName"
                   [src]="'data:' + media.contentType + ';base64,' + media.base64Data"
                   class="product-image"/>
              <video *ngIf="media.contentType?.startsWith('video/')"
                     [attr.muted]="true"
                     [muted]="true"
                     autoplay
                     class="product-image"
                     loop
                     playsinline
                     preload="metadata">
                <source
                  [src]="'data:' + media.contentType + ';base64,' + media.base64Data"
                  [type]="media.contentType"/>
              </video>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #noMedia>
        <div class="no-media">{{ 'PRODUCTS.NO_MEDIA' | translate }}</div>
      </ng-template>

      <div class="product-details">
        <h2 class="product-name">{{ product.translatedName }}</h2>
        <p class="product-description">{{ product.translatedDescription }}</p>

        <div *ngIf="product.responseTagDTOS?.length" class="card-tags">
          <div class="tags-container">
            <span *ngFor="let tag of product.responseTagDTOS" class="tag">
              {{ tag.translatedName }}
            </span>
          </div>
        </div>
      </div>

      <div class="product-bottom-box">
        <button (click)="$event.stopPropagation(); addToCart(product)"
                class="add-to-cart-btn">
          <mat-icon>add_shopping_cart</mat-icon>
          {{ 'PRODUCTS.ADD_TO_CART' | translate }}
        </button>
        <div class="price">{{ product.price | swissCurrency }}</div>
      </div>
    </div>
  </div>
</div>
