<div class="categories-container">
  <div class="admin-header-section">
    <div class="admin-header-content">
      <div class="admin-title-section">
        <h1>{{ 'CATEGORIES.TITLE' | translate }}</h1>
        <p class="admin-subtitle">{{ 'CATEGORIES.ADMIN_SUBTITLE' | translate }}</p>
      </div>

      <div class="admin-actions">
        <div class="admin-search-section">
          <div class="admin-search-container">
            <div class="admin-search-input-wrapper">
              <mat-icon class="search-icon">search</mat-icon>
              <input
                [formControl]="searchControl"
                class="admin-search-input"
                matInput
                placeholder="Search by name">
              <button
                (click)="clearSearch()"
                *ngIf="searchControl.value"
                class="admin-clear-button"
                mat-icon-button>
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="search-container">
          <div class="admin-search-checkbox-wrapper">
            <mat-checkbox (change)="applyFilters()" [formControl]="activeSeControl">
              Show only active
            </mat-checkbox>
          </div>
        </div>

        <button (click)="navigateToCreate()" class="admin-new-btn">
          <mat-icon>add</mat-icon>
          {{ 'CATEGORIES.ADMIN.NEW_TITLE' | translate }}
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="isLoading" class="loading-section">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="loading-text">{{ 'CATEGORIES.LOADING' | translate }}</div>
  </div>

  <!-- Categories grid -->
  <div *ngIf="!isLoading && !error" class="categories-grid">
    <div
      *ngFor="let category of filteredCategories; let catIndex = index; trackBy: trackById"
      class="category-card"
    >
      <div (click)="navigateToUpdate(category.id)" class="card-link">
        <!-- Image / Video -->
        <ng-container *ngIf="category.media?.length; else noMedia">
          <div class="category-image-container">
            <img
              *ngIf="category.media[activeSlideIndices[catIndex]]?.contentType?.startsWith('image/')"
              [alt]="category.name"
              [src]="'data:' + category.media[activeSlideIndices[catIndex]].contentType + ';base64,' + category.media[activeSlideIndices[catIndex]].base64Data"
              class="category-image"
            />
            <video
              *ngIf="category.media[activeSlideIndices[catIndex]]?.contentType?.startsWith('video/')"
              [attr.muted]="true"
              [muted]="true"
              autoplay
              class="category-image"
              loop
              playsinline
              preload="metadata"
            >
              <source
                [src]="'data:' + category.media[activeSlideIndices[catIndex]].contentType + ';base64,' + category.media[activeSlideIndices[catIndex]].base64Data"
                [type]="category.media[activeSlideIndices[catIndex]].contentType"
              />
            </video>

            <!-- Dots for carousel -->
            <div *ngIf="category.media?.length > 1" class="carousel-dots">
              <button
                (click)="$event.stopPropagation(); setActiveSlide(catIndex, i)"
                *ngFor="let media of category.media; let i = index; trackBy: trackByObjectKey"
                [class.active]="activeSlideIndices[catIndex] === i"
                class="dot"
              ></button>
            </div>
          </div>
        </ng-container>

        <ng-template #noMedia>
          <div class="no-media">
            {{ 'CATEGORIES.NO_MEDIA' | translate }}
          </div>
        </ng-template>

        <!-- Category details -->
        <div class="category-details">
          <h2 class="category-name">{{ category.name }}</h2>
          <p class="category-description">{{ category.description }}</p>

          <div *ngIf="category.responseTagDTOS?.length" class="card-tags">
            <div class="tags-container">
              <span *ngFor="let tag of category.responseTagDTOS" class="tag">
                {{ tag.name }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom bar -->
      <div class="category-actions">
        <button
          (click)="$event.stopPropagation(); openDeleteDialog(category.id)"
          class="btn-delete"
          mat-icon-button
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>
