<div class="login-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" class="form-grid">
    <!-- New Password Field -->
    <mat-form-field class="full-width">
      <mat-label>{{ 'RESET_PASSWORD.PASSWORD' | translate }}</mat-label>
      <input [placeholder]="'RESET_PASSWORD.ENTER_PASSWORD' | translate" formControlName="newPassword" matInput
             type="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">
        {{ 'USER_REGISTRATION.PASSWORD_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('minlength')">
        {{ 'USER_REGISTRATION.PASSWORD_MINLENGTH' | translate }}
      </mat-error>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('pattern')">
        {{ 'USER_REGISTRATION.PASSWORD_PATTERN' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button [disabled]="saving || resetForm.invalid" class="full-width" color="primary" mat-raised-button
            type="submit">
      {{ saving ? ('COMMON.SAVING' | translate) : ('RESET_PASSWORD.BUTTON' | translate) }}
    </button>
    <mat-progress-bar *ngIf="saving" class="save-progress" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
