<div class="login-container">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="form-grid">
    <!-- New Password Field -->
    <mat-form-field  class="full-width">
      <mat-label>{{ 'RESET_PASSWORD.PASSWORD' | translate }}</mat-label>
      <input matInput formControlName="newPassword" type="password"
             [placeholder]="'RESET_PASSWORD.ENTER_PASSWORD' | translate">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">
        {{ 'USER_REGISTRATION.PASSWORD_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('minlength')">
        {{ 'USER_REGISTRATION.PASSWORD_MINLENGTH' | translate }}
      </mat-error>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('pattern')">
        {{ 'USER_REGISTRATION.PASSWORD_PATTERN' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit" class="full-width"
            [disabled]="saving || resetForm.invalid">
      {{ saving ? ('COMMON.SAVING' | translate) : ('RESET_PASSWORD.BUTTON' | translate) }}
    </button>
    <mat-progress-bar *ngIf="saving" mode="indeterminate" class="save-progress"></mat-progress-bar>
  </form>
</div>
