<div class="products-container">
  <div class="admin-header-section">
    <div class="admin-header-content">
      <div class="admin-title-section">
        <h1>{{ 'PRODUCTS.TITLE' | translate }}</h1>
        <p class="admin-subtitle">{{ 'PRODUCTS.ADMIN_SUBTITLE' | translate }}</p>
      </div>

      <div class="admin-actions">
        <div class="admin-search-section">
          <div class="admin-search-container">
            <div class="admin-search-input-wrapper">
              <mat-icon class="search-icon">search</mat-icon>
              <input
                [formControl]="searchControl"
                class="admin-search-input"
                matInput
                placeholder="Search by name">
              <button
                (click)="clearSearch()"
                *ngIf="searchControl.value"
                class="admin-clear-button"
                mat-icon-button>
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="search-container">
          <div class="admin-search-checkbox-wrapper">
            <mat-checkbox (change)="applyFilters()" [formControl]="activeSeControl">
              Show only active
            </mat-checkbox>
          </div>
        </div>

        <button (click)="navigateToCreate()" class="admin-new-btn">
          <mat-icon>add</mat-icon>
          {{ 'PRODUCTS.ADMIN.NEW_TITLE' | translate }}
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="isLoading" class="loading-section">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="loading-text">{{ 'PRODUCTS.LOADING' | translate }}</div>
  </div>
  <div *ngIf="error" class="error">
    {{ 'TAGS.ERROR_LOADING' | translate:{error: error} }}
  </div>

  <div *ngIf="error" class="error-section">
    <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
    <div class="error-text">{{ error }}</div>
    <button (click)="navigateHome()" color="warn" mat-stroked-button>
      <mat-icon>arrow_back</mat-icon>
      Back to the main page
    </button>
  </div>

  <div *ngIf="!isLoading && !error" class="products-grid">
    <div
      *ngFor="let product of filteredProducts; let prodIndex = index; trackBy: trackById"
      class="product-card"
    >
      <div (click)="navigateToUpdate(product.id)" class="card-link">
        <ng-container *ngIf="product.media?.length; else noMedia">
          <div class="product-image-container">
            <img
              *ngIf="product.media[activeSlideIndices[prodIndex]]?.contentType?.startsWith('image/')"
              [alt]="product.name"
              [src]="'data:' + product.media[activeSlideIndices[prodIndex]].contentType + ';base64,' + product.media[activeSlideIndices[prodIndex]].base64Data"
              class="product-image"
            />
            <video
              *ngIf="product.media[activeSlideIndices[prodIndex]]?.contentType?.startsWith('video/')"
              [attr.muted]="true"
              [muted]="true"
              autoplay
              class="product-image"
              loop
              playsinline
              preload="metadata"
            >
              <source
                [src]="'data:' + product.media[activeSlideIndices[prodIndex]].contentType + ';base64,' + product.media[activeSlideIndices[prodIndex]].base64Data"
                [type]="product.media[activeSlideIndices[prodIndex]].contentType"
              />
            </video>
            <div *ngIf="product.media?.length > 1" class="carousel-dots">
              <button
                (click)="$event.stopPropagation(); setActiveSlide(prodIndex, i)"
                *ngFor="let media of product.media; let i = index; trackBy: trackByObjectKey"
                [class.active]="activeSlideIndices[prodIndex] === i"
                class="dot"
              ></button>
            </div>
          </div>
        </ng-container>

        <ng-template #noMedia>
          <div class="no-media">
            {{ 'PRODUCTS.NO_MEDIA' | translate }}
          </div>
        </ng-template>

        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
          <p class="product-description-truncated">
            {{ product.description }}
          </p>

          <div *ngIf="product.responseTagDTOS?.length" class="card-details">
            <div class="tags-container">
              <span *ngFor="let tag of product.responseTagDTOS" class="tag">
                {{ tag.name }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="product-actions">
        <span class="product-price">{{ product.price | currency:'USD' }}</span>
        <button (click)="$event.stopPropagation(); openDeleteDialog(product.id)" class="btn-delete" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
