<div class="modern-dialog-container">
  <div class="modern-dialog-header" [ngClass]="data.type">
    <h2 class="dialog-title">{{ data.title }}</h2>
  </div>

  <div class="modern-dialog-body">
    <ng-container *ngIf="!data.html; else htmlContent">{{ data.message }}</ng-container>
    <ng-template #htmlContent>
      <span [innerHTML]="sanitizeHtml(data.message)"></span>
    </ng-template>
  </div>

  <div class="modern-dialog-actions">
    <button (click)="onCancel()" color="warn" mat-stroked-button type="button">
      <mat-icon>close</mat-icon>
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-flat-button class="btn btn-primary" (click)="onConfirm()">
      Confirm
    </button>
  </div>
</div>
