<div class="categories-container">
  <h1>{{ 'CATEGORIES.TITLE' | translate }}</h1>

  <div *ngIf="isLoading" class="loading">
    {{ 'CATEGORIES.LOADING' | translate }}
  </div>
  <div *ngIf="error" class="error">
    {{ 'CATEGORIES.ERROR_LOADING' | translate:{error: error} }}
  </div>

  <div *ngIf="!isLoading && !error" class="categories-grid">
    <div
      *ngFor="let category of categories; let catIndex = index; trackBy: trackById"
      class="category-card"
    >
      <ng-container *ngIf="category.media?.length; else noMedia">
        <div class="category-image-container">
<!--          <img-->
<!--            *ngIf="category.media[activeSlideIndices[catIndex]]?.contentType?.startsWith('image/')"-->
<!--            [alt]="category.name"-->
<!--            [src]="'data:' + category.media[activeSlideIndices[catIndex]].contentType + ';base64,' + category.media[activeSlideIndices[catIndex]].base64Data"-->
<!--            class="category-image"-->
<!--          />-->
          <video
            *ngIf="category.media[activeSlideIndices[catIndex]]?.contentType?.startsWith('video/')"
            [attr.muted]="true"
            [muted]="true"
            autoplay
            class="category-image"
            loop
            playsinline
            preload="metadata"
          >
            <source
              [src]="'data:' + category.media[activeSlideIndices[catIndex]].contentType + ';base64,' + category.media[activeSlideIndices[catIndex]].base64Data"
              [type]="category.media[activeSlideIndices[catIndex]].contentType"
            />
          </video>
          <div *ngIf="category.media?.length > 1" class="carousel-dots">
            <button
              (click)="$event.stopPropagation(); setActiveSlide(catIndex, i)"
              *ngFor="let media of category.media; let i = index; trackBy: trackByObjectKey"
              [class.active]="activeSlideIndices[catIndex] === i"
              class="dot"
            ></button>
          </div>
        </div>
      </ng-container>

      <ng-template #noMedia>
        <div class="no-media">
          {{ 'CATEGORIES.NO_MEDIA' | translate }}
        </div>
      </ng-template>
<!--//TODO-->
<!--      <div class="category-details">-->
<!--        <h2 class="category-name">{{ category.name }}</h2>-->
<!--        <p class="category-description">-->
<!--          {{ category.description }}-->
<!--        </p>-->
<!--      </div>-->
    </div>
  </div>
</div>
