<div class="registration-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm" class="form-grid">
    <!-- Email Field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'USER_REGISTRATION.EMAIL' | translate }}</mat-label>
      <input [placeholder]="'LOGIN.ENTER_EMAIL' | translate" formControlName="email" matInput type="email">
      <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
        {{ 'USER_REGISTRATION.EMAIL_REQUIRED' | translate }}
      </mat-error>
      <mat-error
        *ngIf="registrationForm.get('email')?.hasError('email') || registrationForm.get('email')?.hasError('pattern')">
        {{ 'USER_REGISTRATION.EMAIL_INVALID' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'USER_REGISTRATION.PASSWORD' | translate }}</mat-label>
      <input [placeholder]="'LOGIN.ENTER_PASSWORD' | translate" formControlName="password" matInput type="password">
      <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
        {{ 'USER_REGISTRATION.PASSWORD_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
        {{ 'USER_REGISTRATION.PASSWORD_MINLENGTH' | translate }}
      </mat-error>
      <mat-error *ngIf="registrationForm.get('password')?.hasError('pattern')">
        {{ 'USER_REGISTRATION.PASSWORD_PATTERN' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password Field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'USER_REGISTRATION.CONFIRM_PASSWORD' | translate }}</mat-label>
      <input [placeholder]="'LOGIN.ENTER_PASSWORD' | translate" formControlName="confirmPassword" matInput
             type="password">
      <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">
        {{ 'USER_REGISTRATION.PASSWORD_REQUIRED' | translate }}
      </mat-error>
      <mat-error
        *ngIf="registrationForm.hasError('mismatch') && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.dirty)">
        {{ 'USER_REGISTRATION.PASSWORDS_MISMATCH' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <div class="actions">
      <button [disabled]="saving || registrationForm.invalid" color="primary" mat-raised-button type="submit">
        <mat-icon>how_to_reg</mat-icon>
        {{ saving ? ('COMMON.SAVING' | translate) : ('USER_REGISTRATION.REGISTER' | translate) }}
      </button>
    </div>
    <mat-progress-bar *ngIf="saving" class="save-progress" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
