<div class="dialog-container">
  <div class="dialog-header" [ngClass]="data.type">
    <mat-icon class="title-icon">{{ getTitleIcon() }}</mat-icon>
    <h2 class="dialog-title">{{ data.title }}</h2>
  </div>

  <div class="dialog-body">
    <p [innerHTML]="sanitizeHtml(data.message)"></p>
  </div>

  <div class="dialog-actions">
    <button class="btn btn-outline" (click)="onCancel()">Cancel</button>
    <button
      class="btn"
      [ngClass]="{
        'btn-primary': data.type !== 'warn',
        'btn-warn': data.type === 'warn'
      }"
      (click)="onConfirm()"
    >
      Confirm
    </button>
  </div>
</div>
